@using CaptrsCardGamePrototype.Models
@using System.Text.Encodings.Web
@using CaptrsCardGamePrototype.Services

@if (cardBase != null) {
    
    <MudContainer MaxWidth="MaxWidth.ExtraSmall">
        <MudCard>
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Secondary">
                        <MudIcon Icon="@cardBase.icon"/>
                    </MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <CardBaseInfo cardBaseInfo="@cardBase"/>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudTooltip Text="Send To Card Editor">
                        <MudIconButton OnClick="@onSettingsClickCallback" 
                                       Icon="@Icons.Material.Filled.Settings" 
                                       Color="Color.Default"/>
                    </MudTooltip>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudPaper Height="400px" Class="pa-2">
                    <div id="unique_id_scroll_section" class="ma-0 d-flex flex-column gap-2" style="height:380px;overflow: auto;">
                        @if (cardBase.textContentSections != null) {
                            foreach (var textSection in cardBase.textContentSections) {
                                <MudText Class="pa-4" Typo="Typo.body1">
                                    @if (!cardBase.isSpecialText) {
                                        @textSection
                                    }
                                    @if (cardBase.isSpecialText) {
                                        @((MarkupString) textSection)
                                    }
                                    @* @((MarkupString) textSection) *@
                                </MudText>
                            }
                        }
                    </div>
                </MudPaper>
            </MudCardContent>
            <MudCardActions>
                <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                <MudTooltip Text="Display Map">
                    <MudIconButton Icon="@Icons.Material.Filled.Map" Color="Color.Default" OnClick="OnDisplayMapClicked" />
                </MudTooltip>
            </MudCardActions>
            
        </MudCard>
    </MudContainer>
}



@code {
    
    [Parameter]
    public CardBaseObj? cardBase { get; set; }

    private bool _stateToggle;

    [Parameter]
    public bool stateToggle {
        get => _stateToggle;
        set {
            _stateToggle = value;
            OnStateChangedEvent();
        }
    }
    
    [Parameter]
    public EventCallback<MouseEventArgs> onSettingsClickCallback { get; set; }

    [Parameter]
    public string mapFilename { get; set; } = "img/map-main.png";

    [Parameter]
    public EventCallback<string> mapDisplayRequested { get; set; }
    
    private void OnStateChangedEvent() {
        StateHasChanged();
    }
    
    private async Task OnDisplayMapClicked()
    {
        await mapDisplayRequested.InvokeAsync(mapFilename);
    }
    
    
    
}