@using CaptrsCardGamePrototype.Models

@if (pathogen is not null) {
    <MudPaper Class="pa-4">
        
        <div class="d-flex flex-grow-1 justify-end mb-4">
            <MudButtonGroup Class="" Color="Color.Primary" Variant="Variant.Filled" OverrideStyles="false">
                <MudTooltip Text="Send To Pathogen Editor">
                    <MudButton OnClick="@onEditClickCallback">Edit</MudButton>
                </MudTooltip>
                <MudTooltip Text="Send A Copy To Pathogen Editor">
                    <MudButton OnClick="@onCopyClickCallback">Copy</MudButton>
                </MudTooltip>
                <MudTooltip Text="Delete From Database">
                    <MudButton Color="Color.Secondary" OnClick="onDeleteClickCallback">
                        Delete
                    </MudButton>
                </MudTooltip>
            </MudButtonGroup>
        </div>
        
        <MudPaper Class="pa-4 mb-4">
            <MudText Typo="Typo.h6" Color="Color.Tertiary">Pathogen Details</MudText>
            <MudText Typo="Typo.h3">@pathogen.typeName</MudText>
            @if (!string.IsNullOrWhiteSpace(pathogen.url))
            {
                <MudStack Class="mt-2" Row="true" Spacing="3">
                    <MudIcon Icon="@Icons.Material.Filled.Link"/>
                    <MudTooltip Text="@pathogen.url">
                        <MudLink Href="@pathogen.url" Target="_blank" Typo="Typo.body1">
                            Info/Reference
                        </MudLink>
                    </MudTooltip>
                </MudStack>
            }
        </MudPaper>
        
        <MudPaper Class="pa-4 mb-4">
            <MudText Color="Color.Primary" Typo="Typo.subtitle2">Onset</MudText>
            <MudStack Row="true" Spacing="3" AlignItems="AlignItems.Center">
                <MudIcon Icon="@Icons.Filled.Timer"></MudIcon>
                <MudText class="mr-4" Typo="Typo.h6">@pathogen.onset</MudText>
            </MudStack>

            <MudText class="mt-4" Color="Color.Primary" Typo="Typo.subtitle2">Duration</MudText>
            <MudStack Row="true" Spacing="3" AlignItems="AlignItems.Center">
                <MudIcon Icon="@Icons.Filled.Timelapse"></MudIcon>
                <MudText class="mr-4" Typo="Typo.h6">@pathogen.duration</MudText>
            </MudStack>
        </MudPaper>

        <DataListView title="Acute Symptoms" textList="pathogen.acuteSymptoms"/>
        <DataListView title="Reservoir" textList="@pathogen.reservoirDetails"/>

    </MudPaper>
}


@code {

    [Parameter] 
    public Pathogen pathogen { get; set; }
    
    [Parameter] 
    public EventCallback<Pathogen> pathogenChanged { get; set; }
    
    [Parameter]
    public EventCallback<MouseEventArgs> onEditClickCallback { get; set; }
    
    [Parameter]
    public EventCallback<MouseEventArgs> onCopyClickCallback { get; set; }

    [Parameter] 
    public EventCallback<MouseEventArgs> onDeleteClickCallback { get; set; }

}